@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

:root {
	--background-color: #300862;
	--navbar: #480C92;
	--text-color: #F1E9DE;
	--background-checkbox: #F1E9DE;
	--button-toggle: #170350;
	--link-hover: #Fff;
	--link-color: #f1e9de;
	--navbar-color: #480C92;
	--button-color: #170350;
	--text-color-button: #F1E9DE;
	--icon-color: #f1e9de;
	--card-color: #480C73;
	--footer-background: #0047AA;
	--a-color: #F1E9DE;
	--a-color-hover: #00AAFF;
}

html[data-theme='light'] {
	--background-color: #F1E9DE;
	--navbar: #300862;
	--text-color: #170350;
	--background-checkbox: #480C92;
	--button-toggle: #F1E9DE;
	--link-hover: #FAF8F4;
	--link-color: #f1e9de;
	--navbar-color: #300862;
	--button-color: #170350;
	--text-color-button: #F1E9DE;
	--icon-color: #300862;
	--card-color: #300862;
	--footer-background: #7C82FF;
	--a-color: #170350;
	--a-color-hover: #00AAFF;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
}

/* switch */
input[type='checkbox'] {
	appearance: none;
	display: none;
	visibility: hidden;
}

input[type='checkbox']:checked~.check:before {
	transform: translateX(20px);
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	-ms-transform: translateX(20px);
	-o-transform: translateX(20px);
}

input[type='checkbox']:checked~.check {
	background-color: var(--background-checkbox);
	box-shadow: 0 0 0 50000px rgba(10, 10, 10, .3);
}

.check:before,
.check:after {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	content: '';
	height: 16px;
	position: absolute;
	top: 2px;
	transition: transform 0.5s ease;
	-webkit-transition: transform 0.5s ease;
	-moz-transition: transform 0.5s ease;
	-ms-transition: transform 0.5s ease;
	-o-transition: transform 0.5s ease;
	width: 16px;
}

.check:before {
	background-color: var(--button-toggle);
	left: 2px;
}

.check {
	background-color: var(--background-checkbox);
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	cursor: pointer;
	display: block;
	height: 20px;
	overflow: hidden;
	position: relative;
	transition: background-color 0.5 ease;
	-webkit-transition: background-color 0.5 ease;
	-moz-transition: background-color 0.5 ease;
	-ms-transition: background-color 0.5 ease;
	-o-transition: background-color 0.5 ease;
	box-shadow: .5s;
	width: 40px;
}

/* navbar */
.logo {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	color: var(--link-color);
	font-size: 1.5em;
	cursor: pointer;
}

li a,
a {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	color: var(--link-color);
	font-size: 1em;
	text-decoration: none;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5em 10%;
	background-color: var(--navbar);
}

.navlink {
	list-style: none;
	display: flex;
	gap: 1.25em;
	align-items: center;
}


.navlink li a {
	transition: all .3s ease 0;
	-webkit-transition: all .3s ease 0;
	-moz-transition: all .3s ease 0;
	-ms-transition: all .3s ease 0;
	-o-transition: all .3s ease 0;
}

.navlink li a:hover {
	color: var(--link-hover);
}

.burger {
	display: none;
}

.burger div {
	width: 25px;
	height: 2px;
	background-color: #E4DBD9;
	margin: 5px;
	transition: all 300ms ease;
}

/* akhir navbar */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
}

p {
	font-family: 'Montserrat', sans-serif;
	line-height: 150%;
}

.link {
	text-decoration: underline;
	font-family: 'montserrat', sans-serif;
	font-weight: 400;
	color: var(--a-color);
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
}

.link:hover {
	color: var(--a-color-hover);
}

.icon {
	color: var(--icon-color);
}

#hero {
	padding-top: 6.25em;
}

.header {
	font-size: 3em;
}

.pp img {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
}

.btn-mail {
	background-color: var(--button-color);
	font-family: 'montserrat', sans-serif;
	font-weight: 300;
	color: var(--text-color-button);
	margin-left: 0 !important;
	display: flex;
	max-width: 120px;
	justify-items: center;
}

.btn-mail:hover,
.btn-visit:hover,
.btn-github:hover {
	color: var(--link-hover);
	transition: 300ms;
}

.btn-visit,
.btn-github {
	background-color: var(--button-color);
	font-family: 'montserrat', sans-serif;
	font-weight: 300;
	color: var(--text-color-button);
}

#hero ul {
	margin: 0;
	padding: .5em 0 0 .5em;
}

#hero ul li {
	margin: 0 .5em;
	display: inline-block;
	list-style: none;
}

.social-mail {
	display: flex;
}

.download {
	display: flex;
	align-items: center;
	gap: .2em;
}

.download a {
	font-size: .75em;
	font-family: 'montserrat', sans-serif;
	font-weight: 400;
	color: var(--text-color);
}

.download a:hover {
	color: var(--link-hover);
}

/* #project, #tool {
	margin: 12.5em 0 0 0;
} */

#project h3,
#tool h3 {
	padding: 6.25em 0 0 0;
}

.card {
	background-color: var(--card-color);
}

.card p,
.card h5 {
	color: var(--link-color)
}

.card p:hover,
.card h5:hover {
	color: var(--link-hover)
}

.card-text {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	overflow: hidden;
}

.jumbo {
	margin-top: 7em;
}

.jumbotron {
	padding: 2rem 1rem;
	margin-bottom: 2rem;
	background-color: #E4DBD9;
	border-radius: .3em;
	-webkit-border-radius: .3em;
	-moz-border-radius: .3em;
	-ms-border-radius: .3em;
	-o-border-radius: .3em;
}

.jumbotron-fluid {
	padding-right: 0;
	padding-left: 0;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
}

.img-shadow {
	box-shadow: 0px 4px 30px rgba(10, 10, 10, .1);
}

.skill-icon {
	font-size: 5em;
}

figcaption {
	font-family: 'montserrat', sans-serif;
	color: var(--text-color) !important;
}

footer {
	background-color: var(--footer-background);
	margin-top: 100px;
	margin-bottom: 0;
	font-family: 'montserrat', sans-serif;
	color: var(--text-color-button);
}

.kaki h5 {
	font-family: 'montserrat', sans-serif;
	font-weight: 500;
}

.kaki ul {
	padding: 0;
	display: flex;
	text-decoration: none;
	justify-content: center;
}

.kaki li {
	display: flex;
	text-decoration: none;
}

.kaki a {
	color: var(--icon-color);
	font-size: 1.375em;
	margin-left: 1em;
}

.context {
	font-size: 1em;
}

.copy {
	font-weight: 300;
	font-size: 0.75em;
}

@media screen and (max-width:576px) {
	body {
		overflow-x: hidden;
	}

	.navlink {
		position: absolute;
		right: 0;
		height: 92vh;
		top: 8vh;
		background-color: var(--navbar);
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 80%;
		transform: translateX(100%);
		transition: transform 500ms ease-in;
	}

	.navlink ul {
		padding: .5em 1em !important;
	}

	.navlink li {
		opacity: 0;
		align-items: center;
		padding: 10% 0 !important;
	}

	.burger {
		display: block;
	}

	#hero h1 {
		text-align: center;
	}

	#hero p {
		text-align: justify;
	}

	.pp {
		padding: 1.87em 0 0 0;
	}

	#project,
	#tool,
	footer {
		margin: 9.375em 0 0 0;
	}

	.jumbotron {
		padding: 4rem 2rem;
	}

	#tool img {
		width: 3.12em !important;
	}

	#tool figcaption {
		font-size: 0.625em !important;
	}
}

.nav-active {
	transform: translateX(0);
}

@media screen and (max-width:768px) {
	.navlink {
		display: flex;
		justify-content: space-around;
		width: 80%;
	}

	#tool img {
		width: 3.75em !important;
	}

	.figure-img {
		font-size: 3em;
	}
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -5px);
}