@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,400&family=Ubuntu:wght@400;700&display=swap');
.jumbotron {
  height: 450px;
  background-image: url(../image/30daysofwebdesign/Mockup-Web2.png);
  position: relative;
  background-position: center !important;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -10px -50px;
  color: #e0e0e0;
  overflow: hidden;
}
h2 {
font-family: 'ubuntu', sans-serif;
color: #E4DBD9;
font-weight: 700;
}
p {
font-family: 'montserrat', sans-serif;
font-weight: 400;
color: #E4DBD9;
line-height: 1.2;
letter-spacing: -2%;
}
@media screen and (max-width:576px) {
h2 {
  text-align: center;
}
p {
  text-align: justify;
}
}
@media screen and (max-width:768px) {
p {
  text-align: justify;
}
}
