.download-page a {
    text-decoration: none;
}
.download-page {
  margin-top: 100px;
}
.download-page h2 {
  font-family: 'ubuntu', sans-serif;
  font-weight: 700;
  color: #E4DBD9;
}
.download-page p {
  font-family: 'montserrat', sans-serif;
  color: #D4C6C3;
}
.download-page img {
  width: 500px;
  opacity: 50%;
}
.jumbotron {
  height: 450px;
  background-image: url(../image/download-detail.png);
  position: relative;
  background-position: center !important;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -10px -50px;
  color: #e0e0e0;
  overflow: hidden;
}
h2 {
  font-family: 'ubuntu', sans-serif;
  color: #E4DBD9;
  font-weight: 700;
}
p {
  font-family: 'montserrat', sans-serif;
  font-weight: 400;
  color: #E4DBD9;
  line-height: 1.2;
  letter-spacing: -2%;
}
@media screen and (max-width:576px) {
  p {
    text-align: justify;
  }
  .download-page img {
    width: 250px;
  }
}
@media screen and (max-width:768px) {
  p {
    text-align: justify;
  }
  .download-page img {
    width: 300px;
  }
}